# Riddler Express
### February 19, 2021
https://fivethirtyeight.com/features/can-you-win-riddler-jenga/

This is really more of a pen-and-paper problem, but we can display and check our solution with a python notebook so we do so here.

In [1]:
# we'll use pandas' dataframes
import pandas as pd
# we claim that this is a solution
d = {'183,708': [7,3,9,9,3,4,9], '245,760': [8,8,6,8,5,8,2], '117,600': [5,7,3,5,4,8,7]}
df = pd.DataFrame(data=d)
df

   183,708  245,760  117,600
0        7        8        5
1        3        8        7
2        9        6        3
3        9        8        5
4        3        5        4
5        4        8        8
6        9        2        7

So we check each of the rows now

In [2]:
# we adapt to this to avoid having to manually update column names each time
df['row products'] = pd.Series([1]*df.shape[0])

# up to the last element bc the last element is "products"
for col_label in df.columns[:-1]:
    df['row products'] = (df['row products'] * df[col_label])
df

   183,708  245,760  117,600  row products
0        7        8        5           280
1        3        8        7           168
2        9        6        3           162
3        9        8        5           360
4        3        5        4            60
5        4        8        8           256
6        9        2        7           126

and we double-check all of the columns:

In [3]:
import numpy as np
for col in df.columns[:-1]:
    print(f'The product of the numbers in our column {col} should equal {np.prod(df[col])}')

The product of the numbers in our column 183,708 should equal 183708
The product of the numbers in our column 245,760 should equal 245760
The product of the numbers in our column 117,600 should equal 117600