# Riddler Express
### February 26, 2021
https://fivethirtyeight.com/features/how-many-ways-can-you-build-a-staircase/

This is really more of a pen-and-paper problem, but we can display and check our solution with a python notebook so we do so here.

In [1]:
# we'll use pandas' dataframes
import pandas as pd
# we claim that this is a solution
d = {'960': [3,8,8,5], '384': [6,8,8,1], '630': [9,2,7,5], '270': [9,1,6,5]}
df = pd.DataFrame(data=d)
df

   960  384  630  270
0    3    6    9    9
1    8    8    2    1
2    8    8    7    6
3    5    1    5    5

So we check each of the rows now

In [2]:
# we adapt to this to avoid having to manually update column names each time
df['row products'] = pd.Series([1]*df.shape[0])

# up to the last element bc the last element is "products"
for col_label in df.columns[:-1]:
    df['row products'] = (df['row products'] * df[col_label])
df

   960  384  630  270  row products
0    3    6    9    9          1458
1    8    8    2    1           128
2    8    8    7    6          2688
3    5    1    5    5           125

and we double-check all of the columns:

In [3]:
import numpy as np
for col in df.columns[:-1]:
    print(f'The product of the numbers in our column {col} should equal {np.prod(df[col])}')

The product of the numbers in our column 960 should equal 960
The product of the numbers in our column 384 should equal 384
The product of the numbers in our column 630 should equal 630
The product of the numbers in our column 270 should equal 270