# Riddler Express
### February 5, 2021
https://fivethirtyeight.com/features/can-you-randomly-move-the-tower/

This is really more of a pen-and-paper problem, but we can display and check our solution with a python notebook so we do so here.

In [1]:
# we'll use pandas' dataframes
import pandas as pd
# we claim that this is a solution
d = {'3,000': [3,5,8,5,5], '3,969': [9,9,1,7,7], '640': [5,1,8,8,2]}
df = pd.DataFrame(data=d)
df

   3,000  3,969  640
0      3      9    5
1      5      9    1
2      8      1    8
3      5      7    8
4      5      7    2

So we check each of the rows now

In [2]:
# note that using df.products syntax to create a new column
# is illegal in pandas
# also the () around the column calculations are optional
df['products'] = (df['3,000'] * df['3,969'] *  df['640'])
df

   3,000  3,969  640  products
0      3      9    5       135
1      5      9    1        45
2      8      1    8        64
3      5      7    8       280
4      5      7    2        70

and we double-check all of the columns:

In [3]:
import numpy as np
for col in df.columns[:-1]:
    print(f'Our number {col} should equal {np.prod(df[col])}')

Our number 3,000 should equal 3000
Our number 3,969 should equal 3969
Our number 640 should equal 640